/* for small sized screens(<= 767px) */
@media only screen and (max-width: 767px) {
    #navbarc {
        background-color: lightseagreen
    }
    #mynav {
        background-color: lightseagreen;
        background-size: 100%;
    }
    .navbar-brand {
        color: #ededed;
    }
    .nav-link, .dropdown-menu>a {
        color:#ededed;
    }
    .dropdown-toggle {
        background-color: lightseagreen;
    }
    .dropdown-menu {
        background-color: rgb(24, 141, 135);
        color: #ededed;
    }
    .navbar-toggler {
        border-color: #ededed;
        background-color: #ededed;
        display: inline-block;
        
    }
    /* reference - https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    
    

}

/* for screens >= medium(768px) */
.navbar {
    
    padding: 0px 10px;
    background-color: white;
    background-size: 100%;
    
}
.navbar-nav {
    color: gray;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font: calibri;
}
.navbar-brand {
    font-size: 25px;
    box-sizing: content-box;
    padding: 10px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    
    background-color: lightseagreen;
    color: #ededed;
}
.active {
    background-color:rgb(192, 228, 225);
    padding: 10px 15px;
}


body {
    background-color: #ededed;
}
.bigcon {
    padding-top:50px;
    padding-left:10%;
    padding-right:10%;
}
.inner {
    padding:2%;
    background-color:white;
}
h1, h2 {
    color: lightseagreen;
}
h2 {
    text-align: center;
}

#active-img {
    border: 5px solid rgb(192, 228, 225);
}

#visual_comp {
    padding-top: 50px;
}